= render 'shared/side-bar'
.main-chat
  .chat-top
    .chat-top-group
      chat
      %ul.chat-top-group__members
        Member : 
        %li.chat-top-group__members--detail
          test1
        %li.chat-top-group__members--detail
          test2
    =link_to 'Edit', edit_group_path(@group), class: 'chat-top__edit-button'
  .chat-space
    %ul.chat-space__message
      %li.chat-space__message__user
        test-user
      %li.chat-space__message__user--time
        2019/05/22(Wed) 00:00:00
    .chat-space__message__text こんにちは！
    %ul.chat-space--message
      %li.chat-space__message__user
        test-user
      %li.chat-space__message__user--time
        2019/05/22(Wed) 00:00:00
    .chat-space__message__text さようなら！
  = form_for [@group, @message], html: { class: 'chat-form' } do |f|
    = f.text_field :body, class: 'chat-form__input', placeholder: 'type a message'
    = f.label :image do
      = fa_icon 'picture-o lg', class: 'chat-form__icon'
      = f.file_field :image, class: 'chat-form__image-input'
    =f.submit 'Send', class: 'chat-form__send-button'

