= javascript_include_tag 'message'
= render 'shared/side-bar'
.main-chat
  .chat-top
    .chat-top-group{ data: { group: { id: "#{@group.id}"} } }
      = @group.name
      %ul.chat-top-group__members
        Member :
        - @group.users.each do |member|
          %li.chat-top-group__members--detail
            = member.name
    = link_to 'Edit', edit_group_path(@group), class: 'chat-top__edit-button', method: :get
  .chat-space
    = render @messages
  = form_for [@group, @message], html: { class: 'chat-form' } do |f|
    = f.text_field :body, class: 'chat-form__input', placeholder: 'type a message'
    = f.label :picture do
      = fa_icon 'picture-o lg', class: 'chat-form__icon'
      = f.file_field :picture, class: 'chat-form__image-input'
    = f.submit 'Send', class: 'chat-form__send-button'

