= render 'shared/side-bar'
.main-chat
  .chat-top
    .chat-top-group
      chat
      %ul.chat-top-group__members
        Member : 
        %li.chat-top-group__members--detail
          test1
        %li.chat-top-group__members--detail
          test2
    =link_to 'Edit', edit_group_path(@group), class: 'chat-top__edit-button'
  .chat-space
    = render @messages
  = form_for [@group, @message], html: { class: 'chat-form' } do |f|
    = f.text_field :body, class: 'chat-form__input', placeholder: 'type a message'
    = f.label :picture do
      = fa_icon 'picture-o lg', class: 'chat-form__icon'
      = f.file_field :picture, class: 'chat-form__image-input'
    = f.submit 'Send', class: 'chat-form__send-button'

